<a [routerLink]="['/']" routerLinkActive="router-link-active"  class="back" *ngIf="!target">
  <img src="/assets/images/icone-back.png" alt="">
</a>
<div class="content {{paramUrl}}" *ngIf="!target">
    <div>
      <img src="/assets/images/{{src}}-mood-emoticon_white.svg" alt="">
    </div>

    <div>
      Commentaire
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="moodForm">
      <textarea formControlName="commentaire" id=""></textarea>

      <button class="btn btn-dark">Enregistrer mon mood</button>
    </form>
</div>

<div class="content {{paramUrl}} target"  *ngIf="target">
  {{text}}
</div>
