<div class="example-container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h3>Mood board</h3>
                <h6>Connexion</h6>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content [style.display]="showSpinner ? 'none' : 'block'">
            <form (ngSubmit)="login()" #loginForm="ngForm" class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Direction</mat-label>
                    <mat-select [(ngModel)]="direction" name="direction" required (selectionChange)="getDep()">
                        <mat-option *ngFor="let direction of directions" [value]="direction">
                            {{direction}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Département</mat-label>
                    <mat-select [(ngModel)]="departement" name="departement" required>
                        <mat-option *ngFor="let departement of departements" [value]="departement">
                            {{departement}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button style="background: #32C832;" mat-raised-button [disabled]="!loginForm.form.valid" type="submit" color="primary">Se connecter</button>
            </form>
        </mat-card-content>
        <mat-card-actions [style.display]="showSpinner ? 'block' : 'none'" style="text-align: center;">
            <mat-spinner style="margin: auto;"></mat-spinner>
            <h3>Chargment...</h3>
        </mat-card-actions>
    </mat-card>
</div>
