<div class="contentS">
    <header>
        <a routerLink="/"><img src="/assets/images/Small_Logo.png" alt=""></a>
        Hello, et ta journée ?
    </header>

    <div class="content-mood">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <a routerLink=""><img src="/assets/images/mood-board_menu_focused.svg" alt=""></a>
        <a routerLink=""><img src="/assets/images/history-menu.svg" alt=""></a>
        <a routerLink=""><img src="/assets/images/settings-menu.svg" alt=""></a>
    </footer>
</div>
