.happy{
  background-color: #32C832;
}

.neutre, .happy, .unhappy{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.neutre{
  background-color: #FFCC00;
}

.unhappy{
  background-color: #CD3C14;
}

.content .mood{
  flex: 1;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 550px;
  min-width: 230px;
  height: auto;
  z-index: 9999999;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-content{
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

.md-content .tuto-title{
  font-weight: bold;
  color: #ff7900;
  margin-bottom: 10px;
}

.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
  opacity: 1;
  background-color: #fff;
}

.md-show {
  visibility: visible;
}

.md-show.md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 9999995;
  opacity: 0;
  background: rgba(1,1,1,0.6);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-close{
  background-color: #fff;
  width: fit-content;
  width: -moz-fit-content;
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 500px) and (orientation: landscape) {
  .content {
    flex-direction: row;
  }
 }
