
<div class="content">
  <a routerLink="/comment/happy" class="happy mood">
      <img src="/assets/images/good-mood-emoticon_white.svg" alt="">
  </a>
  <a routerLink="/comment/neutre" class="neutre mood">
      <img src="/assets/images/neutral-mood-emoticon_white.svg" alt="">
  </a>
  <a routerLink="/comment/unhappy" class="unhappy mood">
      <img src="/assets/images/sad-mood-emoticon_white.svg" alt="">
  </a>
</div>

<div class="md-modal {{show}} md-effect-1" id="modal-1">
  <div class="md-content">
      <div class="tuto-title">Tuto</div>
      <div>Clique sur une zone pour exprimer ton mood</div>
  </div>

  <div class="md-close" (click)="tuto()"><div>x</div></div>
</div>

<div class="md-overlay {{show}}" (click)="tuto()"></div>
